$summer-color:#bcac76;
$contact-text:#868e96;
$contact-hover-text:#212529;
$contact-border-color:#ced4da;
$contact-letter-color:#495057;
$copyright-color:#adb5bd;
$bg-gray:#ebf7ff;
$bg-blue:#c4e0f3;
$btn-red:#dc3545;
$summer-path-color:#FFB4BC;
$fresh-layout:#877f64;
$head-link-hovered:#9a884b;
$summer-layout:#eae0bd;
$info-layout:#f8f9fa;




 