@import "colors";
@import "reset";

body {
    section#products {
        .product-list {
            .list-group-item {
                a {
                    color: $contact-text;
                    font-weight: 600;
                    transition: color 0.3s linear;
                    &:hover {
                        color: $contact-hover-text;
                        text-decoration: underline;
                    }
                    &:focus {
                        color: $contact-hover-text;
                    }
                }
                .active {
                    color: $contact-hover-text;
                }
            }
        }
        .head-link {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $summer-color;
            font-weight: 700;
            &:hover {
                color: $head-link-hovered;
                text-decoration: underline;
            }
        }

        .product-card {
            cursor: pointer;

            &__img {
                position: relative;

                img {
                    width: 100%;
                }
                .firstimage {
                    position: relative;
                    z-index: 1;
                    transition: opacity 0.5s linear;
                }
                .hoveredimage {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                small {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0.5rem;
                    border-radius: 0.5rem;
                    padding: 0 0.5rem;
                    font-weight: 700;
                    z-index: 1;
                    cursor: text;
                    text-shadow: 0 0 1px white;
                }
                .fresh {
                    background-color: $fresh-layout;
                    color: white;
                }
                .sale {
                    background-color: $summer-color;
                    color: $contact-hover-text;
                }
                .sold {
                    background-color: $contact-hover-text;
                    color: white;
                }
            }
            &__body {
                a {
                    margin: 0;
                    line-height: 2.5;
                    color: $contact-hover-text;
                    transition: color 0.3s linear;
                    cursor: pointer;
                    font-weight: 900;

                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                }
                .price {
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    small {
                        color: $copyright-color;
                        font-weight: 700;
                        line-height: 2.5;
                    }

                    .stars {
                        opacity: 0;

                        span {
                            i {
                                font-size: 12px;
                                color: $summer-color;
                            }
                        }
                        .gray {
                            i {
                                color: $contact-text;
                            }
                        }
                    }
                }
            }
        }
    }
    section#summer {
        .row {
            height: 400px;
            background-color: $summer-layout;
            overflow-x: clip;
            fill: $summer-color;
            position: relative;

            svg {
                position: absolute;
                width: 500px;
                left: -300px;
                top: -100px;
            }
           
            .slogan {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                

                &__heading {
                    font-size: 70px;
                    font-weight: 700;
                    align-self: center;
                    z-index: 1;
                    text-align: center;
                }
                &__text {
                    font-size: 30px;
                    font-weight: 600;
                    z-index: 1;
                    text-align: center;
                }
                &__btn {
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 2px;
                    border: 1px solid $contact-hover-text;
                    border-radius: 0;
                    transition: all 0.2s linear;
                    align-self: center;
                    
                    z-index: 1;

                    &:hover {
                        background-color: $contact-hover-text;
                        color: white;
                    }
                }
            }

            img {
                right: 0;
                top: 0;
                position: absolute;
                transform: translateY(-50px);
            }
        }
    }
    section#info{
        min-height: 300px;
        background-color: $info-layout;
        display: flex;
        align-items: center;

        .icon{
            i{
                font-size: 30px;
                color: $contact-letter-color;
             }
        }
        .text{
            p{
                font-size: 14px;
                
                line-height: 1.5;
                margin: 8px;
            }
            &--dark{
                font-weight: 900;
                color: $contact-hover-text;
            }
            &--muted{
                font-weight: 600;
                color: $contact-text;
            }
        }
        
    }
    footer{
        .left-side{
            p{
                color: $contact-text;
                font-weight: bold;   
               margin: 0;
               font-size: 14px;    
            }
            .input-group{
                input{
                    border: 0;
                    border-bottom: 1px solid $contact-border-color;
                    transition: border .3s linear;
                    
                    &:focus{
                        box-shadow: none;
                        z-index: 0;

                    }
                    &:hover{
                        border-bottom: 1px solid $contact-hover-text;
                    }

                    &::placeholder{
                        color: $copyright-color;
                        font-weight: 600;
                    }
                }
                a{
                    position: absolute;
                    font-size: 35px;
                    color: gray;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    transition: color .3s linear;

                    &:hover{
                        color: $contact-hover-text;
                    }
                }
                
            }
        }
        .myList{

            a.btn{
                color: $contact-hover-text;
                font-weight: 700;
                margin-bottom: 1.5rem;
                padding: 0; 
                text-align: left; 
                position: relative;

                i{
                    position: absolute;
                    right: 0;
                    font-size: 30px;
                    bottom: 0;
                    // transition: all .3s linear;                   
                }
                i.fa-plus{
                    display: block;
                }
                i.fa-minus{
                    display: none;
                }

                // &:hover{
                //     i{
                //         transform: rotate(90deg);
                //     }
                // }
            }
            .contact-list{
                display: none;
                h6{
                    color: $contact-hover-text;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }
                li{
                    margin: 8px 0;
                    
                    a{
                        position: relative;
                        padding: 4px 0;
                        color: $contact-text;
                        transition: color .3s linear;
                        font-weight: 600;
                        
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $contact-hover-text;  
                            transition: all .5s linear;                  
                        }
        
                        &:hover{
                            color: $contact-hover-text;
                            &::after{
                                width: 100%;                                            
                            }
                        }
                    }
    
                }
            }
        }
      
        .copyright{
            small{
                color: $copyright-color;
                font-weight: 600;
            }            
        }
        .site-rules{
            li{
                a{
                    color: $copyright-color;
                    font-weight: 600;
                    // font-size: 13px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(50%);
    }
}
