* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.mycollapse {
  transform: rotate(0deg) !important;
}

.bg-muted {
  background-color: #f8f9fa;
}

.mymodal,
.mymodal2 {
  transition: all 0.15s linear;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000030;
  background-blend-mode: color-burn;
  display: none;
}

.mymodal-dialog,
.mymodal2-dialog {
  position: relative;
  left: 100%;
  transition: all 0.2s linear;
  height: 100vh;
}

.mymodal-dialog-right,
.mymodal2-dialog-right {
  width: 500px;
  background-color: white;
}

.mymodal-header,
.mymodal2-header {
  display: flex;
  justify-content: flex-end;
}

.mymodal-header a,
.mymodal2-header a {
  transition: all 0.2s linear;
  font-size: 30px;
  color: #adb5bd;
}

.mymodal-body,
.mymodal2-body {
  max-height: 350px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
}

.mymodal-body ul.navbar-nav li a,
.mymodal2-body ul.navbar-nav li a {
  color: #212529;
  transition: color 0.3s linear;
}

.mymodal-body ul.navbar-nav li a:hover,
.mymodal2-body ul.navbar-nav li a:hover {
  color: #bcac76;
}

.mymodal-body ul.navbar-nav li a i,
.mymodal2-body ul.navbar-nav li a i {
  transition: transform 0.3s linear;
}

.mymodal-body::-webkit-scrollbar,
.mymodal2-body::-webkit-scrollbar {
  width: 3px;
}

.mymodal-body::-webkit-scrollbar-track,
.mymodal2-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.mymodal-body::-webkit-scrollbar-thumb,
.mymodal2-body::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 10px;
}

.mymodal-body::-webkit-scrollbar-thumb:hover,
.mymodal2-body::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.mymodal-product,
.mymodal2-product {
  display: flex;
  border-bottom: 1px solid #ced4da;
  padding: 2rem 0;
}

.mymodal-image,
.mymodal2-image {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}

.mymodal-title,
.mymodal2-title {
  font-weight: 700;
  position: relative;
  padding: 4px 0;
  color: #868e96;
  transition: color 0.3s linear;
}

.mymodal-title::after,
.mymodal2-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #212529;
  transition: all 0.5s linear;
}

.mymodal-title:hover,
.mymodal2-title:hover {
  color: #212529;
}

.mymodal-title:hover::after,
.mymodal2-title:hover::after {
  width: 100%;
}

.mymodal-title-price,
.mymodal2-title-price {
  font-weight: 700;
}

.mymodal-title-quantity,
.mymodal2-title-quantity {
  color: #adb5bd;
  font-size: 14px;
}

.basket-slogan p {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  padding: 0 40px;
}

.basket-slogan .list-group a {
  font-weight: 600;
}

.basket-slogan .list-group a:not(.disabled) {
  color: #bcac76;
  transition: color 0.3s linear;
}

.basket-slogan .list-group a:not(.disabled):hover {
  color: #9a884b;
  text-decoration: underline;
}

.basket-slogan .list-group a.disabled {
  position: relative;
  color: #212529;
}

.product-cart {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.product-cart__item {
  border-bottom: 1px solid #ced4da;
}

.product-cart__item .main-box {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.product-cart__item .main-box__image {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}

.product-cart__item .main-box__title {
  font-weight: 700;
  position: relative;
  padding: 4px 0;
  color: #212529;
  transition: color 0.3s linear;
  font-size: 18px;
  text-transform: capitalize;
}

.product-cart__item .main-box__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #212529;
  transition: all 0.5s linear;
}

.product-cart__item .main-box__title:hover {
  color: #000;
}

.product-cart__item .main-box__title:hover::after {
  width: 100%;
}

.product-cart__item .details p {
  font-size: 18px;
}

.product-cart__item .details .close {
  color: #495057;
  transition: color .3s linear;
  font-size: 18px;
}

.product-cart__item .details .close:hover {
  color: #212529;
}

.product-cart__item .counter input {
  width: 80px;
  height: 40px;
}

.product-cart__item:last-of-type {
  border: 0;
}

.basket-operations a {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.basket-operations a:first-of-type {
  color: #868e96;
}

.basket-operations a:first-of-type:hover {
  color: #212529;
}

.basket-operations a:last-of-type {
  color: #bcac76;
}

.basket-operations a:last-of-type:hover {
  color: #9a884b;
}

.basket-operations a:hover {
  text-decoration: underline;
}

.check {
  box-shadow: 0 0 10px #ced4da;
  padding: 0;
}
/*# sourceMappingURL=basket.css.map */