* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.mycollapse {
  transform: rotate(0deg) !important;
}

.bg-muted {
  background-color: #f8f9fa;
}

.mymodal,
.mymodal2 {
  transition: all 0.15s linear;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000030;
  background-blend-mode: color-burn;
  display: none;
}

.mymodal-dialog,
.mymodal2-dialog {
  position: relative;
  left: 100%;
  transition: all 0.2s linear;
  height: 100vh;
}

.mymodal-dialog-right,
.mymodal2-dialog-right {
  width: 500px;
  background-color: white;
}

.mymodal-header,
.mymodal2-header {
  display: flex;
  justify-content: flex-end;
}

.mymodal-header a,
.mymodal2-header a {
  transition: all 0.2s linear;
  font-size: 30px;
  color: #adb5bd;
}

.mymodal-body,
.mymodal2-body {
  max-height: 350px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
}

.mymodal-body ul.navbar-nav li a,
.mymodal2-body ul.navbar-nav li a {
  color: #212529;
  transition: color 0.3s linear;
}

.mymodal-body ul.navbar-nav li a:hover,
.mymodal2-body ul.navbar-nav li a:hover {
  color: #bcac76;
}

.mymodal-body ul.navbar-nav li a i,
.mymodal2-body ul.navbar-nav li a i {
  transition: transform 0.3s linear;
}

.mymodal-body::-webkit-scrollbar,
.mymodal2-body::-webkit-scrollbar {
  width: 3px;
}

.mymodal-body::-webkit-scrollbar-track,
.mymodal2-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.mymodal-body::-webkit-scrollbar-thumb,
.mymodal2-body::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 10px;
}

.mymodal-body::-webkit-scrollbar-thumb:hover,
.mymodal2-body::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.mymodal-product,
.mymodal2-product {
  display: flex;
  border-bottom: 1px solid #ced4da;
  padding: 2rem 0;
}

.mymodal-image,
.mymodal2-image {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}

.mymodal-title,
.mymodal2-title {
  font-weight: 700;
  position: relative;
  padding: 4px 0;
  color: #868e96;
  transition: color 0.3s linear;
}

.mymodal-title::after,
.mymodal2-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #212529;
  transition: all 0.5s linear;
}

.mymodal-title:hover,
.mymodal2-title:hover {
  color: #212529;
}

.mymodal-title:hover::after,
.mymodal2-title:hover::after {
  width: 100%;
}

.mymodal-title-price,
.mymodal2-title-price {
  font-weight: 700;
}

.mymodal-title-quantity,
.mymodal2-title-quantity {
  color: #adb5bd;
  font-size: 14px;
}

body header {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

body .blog-card {
  animation: zoom-in .5s ease-out;
  animation-play-state: paused;
}

body .blog-card__footer--style {
  font-size: 12px;
  text-transform: uppercase;
  color: #bcac76;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s linear;
}

body .blog-card__footer--style:hover {
  text-decoration: underline;
  color: #9a884b;
}

body .blog-card__footer--muted {
  font-weight: 700;
  color: #adb5bd;
  margin: 0 8px;
}

body .blog-card__title {
  font-weight: 700;
  font-size: 22px;
  color: #212529;
  transition: color 0.3s linear;
}

body .blog-card__title:hover {
  text-decoration: underline;
  color: black;
}

body #previos {
  color: #868e96;
  font-weight: 700;
  transition: color 0.3s linear;
}

body #previos:hover {
  color: #343a40;
}

body #next {
  color: #212529;
  font-weight: 700;
}

body section#blog-home {
  height: 575px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 150px;
}

body section#blog-home .blog-slogan p {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  padding: 0 40px;
}

body section#blog-home .blog-slogan .list-group a {
  font-weight: 600;
}

body section#blog-home .blog-slogan .list-group a:not(.disabled) {
  color: #bcac76;
  transition: color 0.3s linear;
}

body section#blog-home .blog-slogan .list-group a:not(.disabled):hover {
  color: #9a884b;
  text-decoration: underline;
}

body section#blog-home .blog-slogan .list-group a.disabled {
  position: relative;
  color: #212529;
}

body .myparallax {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 575px;
}

body .myparallax img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=blog.css.map */