* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.mycollapse {
  transform: rotate(0deg) !important;
}

.bg-muted {
  background-color: #f8f9fa;
}

.mymodal,
.mymodal2 {
  transition: all 0.15s linear;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000030;
  background-blend-mode: color-burn;
  display: none;
}

.mymodal-dialog,
.mymodal2-dialog {
  position: relative;
  left: 100%;
  transition: all 0.2s linear;
  height: 100vh;
}

.mymodal-dialog-right,
.mymodal2-dialog-right {
  width: 500px;
  background-color: white;
}

.mymodal-header,
.mymodal2-header {
  display: flex;
  justify-content: flex-end;
}

.mymodal-header a,
.mymodal2-header a {
  transition: all 0.2s linear;
  font-size: 30px;
  color: #adb5bd;
}

.mymodal-body,
.mymodal2-body {
  max-height: 350px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
}

.mymodal-body ul.navbar-nav li a,
.mymodal2-body ul.navbar-nav li a {
  color: #212529;
  transition: color 0.3s linear;
}

.mymodal-body ul.navbar-nav li a:hover,
.mymodal2-body ul.navbar-nav li a:hover {
  color: #bcac76;
}

.mymodal-body ul.navbar-nav li a i,
.mymodal2-body ul.navbar-nav li a i {
  transition: transform 0.3s linear;
}

.mymodal-body::-webkit-scrollbar,
.mymodal2-body::-webkit-scrollbar {
  width: 3px;
}

.mymodal-body::-webkit-scrollbar-track,
.mymodal2-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.mymodal-body::-webkit-scrollbar-thumb,
.mymodal2-body::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 10px;
}

.mymodal-body::-webkit-scrollbar-thumb:hover,
.mymodal2-body::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.mymodal-product,
.mymodal2-product {
  display: flex;
  border-bottom: 1px solid #ced4da;
  padding: 2rem 0;
}

.mymodal-image,
.mymodal2-image {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}

.mymodal-title,
.mymodal2-title {
  font-weight: 700;
  position: relative;
  padding: 4px 0;
  color: #868e96;
  transition: color 0.3s linear;
}

.mymodal-title::after,
.mymodal2-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #212529;
  transition: all 0.5s linear;
}

.mymodal-title:hover,
.mymodal2-title:hover {
  color: #212529;
}

.mymodal-title:hover::after,
.mymodal2-title:hover::after {
  width: 100%;
}

.mymodal-title-price,
.mymodal2-title-price {
  font-weight: 700;
}

.mymodal-title-quantity,
.mymodal2-title-quantity {
  color: #adb5bd;
  font-size: 14px;
}

body header {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

body .myparallax {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
}

body .myparallax img {
  width: 100%;
  height: 100%;
}

body section#contact-home {
  height: 600px;
  position: relative;
  padding-top: 200px;
}

body section#contact-home .contact-slogan .list-group a {
  font-weight: 600;
}

body section#contact-home .contact-slogan .list-group a:not(.disabled) {
  color: #bcac76;
  transition: color 0.3s linear;
}

body section#contact-home .contact-slogan .list-group a:not(.disabled):hover {
  color: #9a884b;
  text-decoration: underline;
}

body section#contact-home .contact-slogan .list-group a.disabled {
  position: relative;
  color: #212529;
}

body .contact-info p {
  color: #868e96;
  font-weight: 600;
}

body section#contact-us .social-links a {
  color: #bcac76;
  font-size: 30px;
  transition: color 0.5s linear;
}

body section#contact-us .social-links a :hover {
  color: #9a884b;
}

body section#contact-us .f-100 {
  font-size: 100px;
}

body section#contact-us form .form-control {
  border: 0;
  border-bottom: 1px solid #ced4da;
  transition: border .4s linear;
  border-radius: 0;
}

body section#contact-us form .form-control:focus {
  box-shadow: none;
}

body section#contact-us form .form-control:hover {
  border-color: black;
}

body section#contact-us form a {
  letter-spacing: 3px;
  color: #bcac76;
  border: 1px solid #bcac76;
  border-radius: 0;
  transition: all .3s linear;
  font-weight: 700;
  text-transform: uppercase;
}

body section#contact-us form a:hover {
  background-color: #bcac76;
  color: black;
}

body section#location {
  overflow: hidden;
}

body section#location .stores__heading {
  color: #868e96;
  font-weight: 700;
}

body section#location .stores__city {
  font-size: 30px;
  font-weight: 700;
}

body section#location .stores__text {
  font-weight: 600;
  padding: 0 4px;
}
/*# sourceMappingURL=contact.css.map */