* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body section#products .product-list .list-group-item a {
  color: #868e96;
  font-weight: 600;
  transition: color 0.3s linear;
}

body section#products .product-list .list-group-item a:hover {
  color: #212529;
  text-decoration: underline;
}

body section#products .product-list .list-group-item a:focus {
  color: #212529;
}

body section#products .product-list .list-group-item .active {
  color: #212529;
}

body section#products .head-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bcac76;
  font-weight: 700;
}

body section#products .head-link:hover {
  color: #9a884b;
  text-decoration: underline;
}

body section#products .product-card {
  cursor: pointer;
}

body section#products .product-card__img {
  position: relative;
}

body section#products .product-card__img img {
  width: 100%;
}

body section#products .product-card__img .firstimage {
  position: relative;
  z-index: 1;
  transition: opacity 0.5s linear;
}

body section#products .product-card__img .hoveredimage {
  position: absolute;
  top: 0;
  left: 0;
}

body section#products .product-card__img small {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  font-weight: 700;
  z-index: 1;
  cursor: text;
  text-shadow: 0 0 1px white;
}

body section#products .product-card__img .fresh {
  background-color: #877f64;
  color: white;
}

body section#products .product-card__img .sale {
  background-color: #bcac76;
  color: #212529;
}

body section#products .product-card__img .sold {
  background-color: #212529;
  color: white;
}

body section#products .product-card__body a {
  margin: 0;
  line-height: 2.5;
  color: #212529;
  transition: color 0.3s linear;
  cursor: pointer;
  font-weight: 900;
}

body section#products .product-card__body a:hover {
  color: black;
  text-decoration: underline;
}

body section#products .product-card__body .price {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

body section#products .product-card__body .price small {
  color: #adb5bd;
  font-weight: 700;
  line-height: 2.5;
}

body section#products .product-card__body .price .stars {
  opacity: 0;
}

body section#products .product-card__body .price .stars span i {
  font-size: 12px;
  color: #bcac76;
}

body section#products .product-card__body .price .stars .gray i {
  color: #868e96;
}

body section#summer .row {
  height: 400px;
  background-color: #eae0bd;
  overflow-x: clip;
  fill: #bcac76;
  position: relative;
}

body section#summer .row svg {
  position: absolute;
  width: 500px;
  left: -300px;
  top: -100px;
}

body section#summer .row .slogan {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body section#summer .row .slogan__heading {
  font-size: 70px;
  font-weight: 700;
  align-self: center;
  z-index: 1;
  text-align: center;
}

body section#summer .row .slogan__text {
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
  text-align: center;
}

body section#summer .row .slogan__btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid #212529;
  border-radius: 0;
  transition: all 0.2s linear;
  align-self: center;
  z-index: 1;
}

body section#summer .row .slogan__btn:hover {
  background-color: #212529;
  color: white;
}

body section#summer .row img {
  right: 0;
  top: 0;
  position: absolute;
  transform: translateY(-50px);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
/*# sourceMappingURL=style.css.map */